.container {
  margin: 0 auto;
}
.Instruments {
  position: relative;
  background-image: url('../../../assets/Specials.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1360px;
  margin-top: 40px;

  &__slide {
    margin-left: 100px;
  }
  &__title {
    padding-top: 40px;
  }
  &__description {
    padding-top: 20px;
    font-size: 20px;
  }

  &__buttons {
    display: flex;
    align-items: baseline;

    stroke: #454950;
  }
  &__arrow {
    background: #ffffff;
    border: 1px solid #d1d1d3;
    cursor: pointer;
    padding: 14px;
    &:hover {
      background-color: #2f323a;
      stroke: #ffffff;
      fill: #ffffff;
      transition: 0.3s;
    }
  }
  &__btn {
    column-gap: 8px;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 20.5px;
    cursor: pointer;
    border: none;
    margin-top: 100px;
    background-color: #fcec41;
    &:hover {
      background: #2f323a;
      color: #ffffff;
      transition: 0.4s;
    }
  }
}
.buttons__arrows {
  display: flex;
  position: relative;
  left: 909px;
  column-gap: 12px;
  padding-bottom: 40px;
}
