@import '../../../scss/libs/normalize';
.Instruments {
  position: relative;
  background-image: url('../../../assets/Specials.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 40px;
  max-height: 420px;
  &__slide {
    margin-left: 100px;
  }
  &__title {
    padding-top: 40px;
  }
  &__description {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
  }
  &__second {
    position: relative;
    background-image: url('../../../assets/Specials2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 40px;
    max-height: 420px;
  }
  &__buttons {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    stroke: #454950;
  }
  &__arrow {
    background: #ffffff;
    border: 1px solid #d1d1d3;
    cursor: pointer;
    padding: 14px;
    &:hover {
      background-color: #2f323a;
      stroke: #ffffff;
      fill: #ffffff;
      transition: 0.3s;
    }
  }
  &__btn {
    column-gap: 8px;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 20.5px;
    cursor: pointer;
    border: none;
    margin-top: 72px;
    background-color: #fcec41;
    &:hover {
      background: #2f323a;
      color: #ffffff;
      transition: 0.4s;
    }
  }
}
.buttons__arrows {
  display: flex;

  column-gap: 12px;
  padding-bottom: 40px;
}
